eventlet==0.39.1
Flask==2.0.1
flask-limiter==3.10.1
flask-socketio==5.5.1
gunicorn==21.2.0
pwinput==1.0.3
pycryptodomex==3.20.0
python-dotenv==1.1.0
python-bcrypt==0.3.2
requests==2.32.3
Werkzeug==2.0.3
