<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/styles.css">
    <title>SecureChat Login</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script src="https://cdn.rawgit.com/travist/jsencrypt/master/bin/jsencrypt.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>




</head>

<body>
    <h1>SecureChat</h1>
    <hr>
    <div id="loginContainer">
        <h2><span style="border: 4px cornflowerblue double; font-size: 150%;">Log In</span></h2>
    </div>
    <form id="login_form" onsubmit="login()">
        <input type="text" id="username" placeholder="Username" required><br><br>
        <input type="password" id="password" placeholder="Password" required><br><br>
        <button class="formButton" type="submit">Login</button><br><br>
    </form>

    <div id="signupContainer">
        <h2><span style="border: 4px cornflowerblue double; font-size:150%;">No account? Sign up here!</span></h2>
    </div>
    <form id="sign_up_form" onsubmit="sign_up()">
        <input type="text" id="Sign_up_username" placeholder="Username" required><br><br>
        <input type="password" id="Sign_up_password" placeholder="Password" required><br><br>
        <button class="formButton" type="submit">Sign Up</button><br><br>
    </form>





    <div id="messageContainer" style="display:none;  max-width: 100%; max-height: 80%;">
        <div id="logoutButton">
            <button class='logoutButton' type="button" onclick="location.reload()"> Log out </button>
        </div>

        <div id="userDisplay" class="userDisplay">
            <!-- Username will be displayed here -->
        </div>
        <div class="tab-container" style="font-size:large;">
            Choose receiver of message:
            <select id="receiver">
            </select>
        </div>


        <div id="receivedHeader">

        </div>
        <textarea type="text" placeholder="Type your message here! (max. 2000 characters)" maxlength="2000"
            class="emoji-input" id="message" placeholder="Type a message" onkeyup="adjustHeight(this)"></textarea>
        <div  class="emoji-container"></div>
        <button id="sendMsg" class="sendMsgButton" type="button" onclick="sendMessage()">Send</button><br><br>




        <!-- Loads Emoji Picking Script [TODO: Clean up a little + add button!]-->
        <script src="static/emojipicker.js"></script>
        <!-- Wanted to add send functionality on enter key press -->
        <script>
            var input = document.getElementById("message");
            input.addEventListener("keypress", function (event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    document.getElementById("sendMsg").click();
                }
            });
        </script>


        <div>Upload a File
            <input type="file" id="fileInput">
            <button onclick="uploadFile()">Upload</button>
            <br> <br>
            Download a File
            <input type="text" id="filenameInput" placeholder="Enter filename to download">

            <button onclick="downloadFile()">Download</button>
            <br> <br>
            Uploaded Files
            <ul id="fileList"></ul>

        </div>

    </div>

   

    <script src="static/scripts.js"></script>
    <script src="static/rsa_help.js"></script>
    <script src="static/chat_logs.js"></script>
    <script src="static/aes_help.js"></script>
</body>

</html>